# Environment variables template
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gamevault?schema=public"
JWT_SECRET="super-secret-gamevault-jwt-token-key-2026-secure"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Customizable Admin Credentials
ADMIN_EMAIL="admin@gamevault.com"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Super Admin"
