# Environment variables template
DATABASE_URL=""
JWT_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Customizable Admin Credentials
ADMIN_EMAIL="admin@gamevault.com"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Super Admin"
